
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Editar Ruta</h1>

      <%= render 'form', route: @route %>
      <br>
      <%= link_to 'Ver', @route,  class:"btn btn-primary botones"  %>
      <%= link_to 'Atras', routes_path,  class:"btn btn-primary botones"  %>
    </div>
  </div>

</div>
<br>
