<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Editar datos de vehiculo</h1>

      <%= render 'form', vehicle: @vehicle %>
      <br>
      <%= link_to 'Ver', @vehicle , class:"btn btn-primary botones"%>
      <%= link_to 'Atras', vehicles_path , class:"btn btn-primary botones"%>

    </div>
  </div>
</div>
<br>
