
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Nuevo Vehiculo </h1>

      <%= render 'form', vehicle: @vehicle %>
      <br>
      <%= link_to 'Atras', vehicles_path, class:"btn btn-primary botones" %>

    </div>
  </div>
</div>
